.industry-application{
    background: #fff;
    margin-top:50px;
    width:100%;
    min-width: 1200px;
    position: relative;
}
.industryapp-content{
    width:100%;
    text-align: center;
}
.industryapp-items{
    width:1000px;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.industryapp-content h5{
    font-size: 20px;
    color:#4A4A4A;
    line-height: 28px;
    margin: 50px 0;
}
.industryapp-item h5{
    margin:30px 0;
}
.industryapp-item .icon-box{
   width:108px;
   height: 108px;
   border-radius: 50%;
   background: #1F2531;
   line-height: 108px;
}
.industryapp-item .iconfont{
    font-size: 50px;
    margin:0 auto;
    color:#fff;
}
@media screen and (max-width:750px){
    .industry-application{
        width:100vw;
        min-width:100vw;
    }
    .industryapp-content{
        width:90%;
        margin:0 auto;
    }
    .industryapp-items{
        width: 100%;
        margin:0.5rem auto;
    }
    .industryapp-content h5{
        font-size: 0.2rem;
        line-height: 0.36rem;
        margin: 0.3rem 0;
    }
    .industryapp-item h5{
        margin:0.3rem 0;
    }
    .industryapp-item .icon-box{
       width:0.8rem;
       height: 0.8rem;
       line-height: 0.8rem;
    }
    .industryapp-item .iconfont{
        font-size: 0.4rem;
    }
}