.advantages-box{
    background: #fff;
    position: relative;
    margin-top:50px;
    width:100%;
    min-width: 1200px;
}
.advantages-content{
    width:1200px;
    margin:50px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.advantages-item{
    width:20%;
}

.advantages-item h5{
    font-size: 20px;
    color:#4A4A4A;
    line-height: 28px;
    margin-bottom: 40px;
}
.advantages-item p{
    line-height: 20px;
}
.advantages-item .iconfont{
    font-size: 50px;
    margin-right: 30px;
}

@media screen and (max-width:750px){
    .advantages-box{
        margin-top:0.3rem;
        width:100vw;
        min-width:100vw;
    }
    .advantages-content{
        width:80%;
        margin:0 auto;
        margin-top:0.3rem;
    }
    .advantages-item{
        width:45%;
        margin-bottom: 0.6rem;
    }
    .advantages-item h5{
        font-size: 0.22rem;
        line-height: 0.36rem;
        margin-bottom: 0.3rem;
    }
    .advantages-item p{
        line-height: 0.36rem;
    }
    .advantages-item .iconfont{
        font-size: 0.4rem;
        margin-right: 0.26rem;
    }
}
